

$background: "https://ak8.picdn.net/shutterstock/videos/21056473/thumb/1.jpg";

@mixin cover-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  background-image: url($background);
  background-repeat: no-repeat;
  @include cover-background;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important
}

.input-group {
  margin: 20px 0px;
}

svg {
  height: 150px;
}

.calendar {
  max-width: 40%;
  margin: auto;
  text-align: center;
}

.stock-bar {
  margin-top: 5px;
}

.table {
  font-weight: 5000;
}

.search-bar-header {
  margin: auto;
}

.jumbotron {
  opacity: .8;
}